<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/search/food" method="post">
      <input type="text" name="foodName" placeholder="Enter Your Food Search Here">
      <input type="submit" value="Hello!">
    </form>
  </body>
</html>
